<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <meta name="author" content="hmmproyectos">
  <meta name="description" content="Instalaciones Electricas, Mantencion Electrica, Montajes Electricos, Construcciones Menores. contacto@hmmproyectos.cl / +56(9)3726 7657">
  <meta property="article:modified_time" content="2020-10-02T21:50:12+00:00">

<!--icono del color del celu-->
<meta name="theme-color" content="#083756"/>
<meta name="apple-mobile-web-app-status-bar-style" content="#083756"/>
<!--Datos de pocicionamiento-->
<meta name="distribution" content="global"/>
<meta name="robots" content="index"/>
<meta name="revisit-after" content="7 days"/>
<!---Google-->
<meta  name= "news_keywords" content = "Electricidad, Tableros, electricos,instalacion electrica , construccion , construcciones , electricidad  , luz" >
<meta name="googlebot" content="index"/>
<meta name="google" content="translate"/>
<meta name="bingbot" content="index">
<link rel="canonical" href="https://hmmproyectos.cl/index.html"/>
<meta property="og:title" content="HMM Proyectos - HMM Proyectos | Instalaciones Electricas | Instalacion Electrica | Empresa Servicios Electricos | Reparaciones Electricas | Construcciones Menores">
<meta property="og:site_name" content="HMM Proyectos - HMM Proyectos | Instalaciones Electricas | Instalacion Electrica | Empresa Servicios Electricos | Reparaciones Electricas | Construcciones Menores">
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="website">
<meta property="og:description" content="Instalaciones Electricas, Mantencion Electrica, Instalacion Led, Electricistas. contacto@hmmproyectos.cl / +56(9)3726 7657">
<meta property="og:url" content="https://www.hmmproyectos.cl">



<!--Explore-->
<meta  content = " IE = edge, chrome = 1" http-equiv = " X-UA-Compatible "/> 
<meta  http-equiv ='cleartype' content ='en' >
<!--Apple-->
<meta  name = " apple-mobile-web-app-title " content = "HMM SPA." > 
<meta  name = ' apple-mobile-web-app-enabled ' content = 'yes' > 
<meta  name =' apple-touch-fullscreen ' content ='yes' > 
<meta  name =' apple-mobile-web-app-status-bar-style ' content =' #083756 '> 




<meta name="twitter:card" content="https://hmmproyectos.cl/img/logo/iconoHMM.png">

<!-- MS Tile - for Microsoft apps-->
<meta name="msapplication-TileImage" content="https://hmmproyectos.cl/img/logo/iconoHMM.png">    

<!-- fb & Whatsapp -->
<!-- Image to display -->
<!-- Replace   «example.com/image01.jpg» with your own -->
<meta property="og:image" content="https://hmmproyectos.cl/img/logo/iconoHMM.png">

<!-- No need to change anything here -->
<meta property="og:type" content="website" />
<meta property="og:image:type" content="https://hmmproyectos.cl/img/logo/iconoHMM.png">

<!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">

<!-- Website to visit when clicked in fb or WhatsApp-->
<meta property="og:url" content="https://hmmproyectos.cl/img/logo/iconoHMM.png">







 <link  rel="icon"   href="img/logo/iconoHMM.png" type="image/png" />


  <title>HMM SPA.</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180543933-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180543933-1');
</script>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

  <!-- Librerias Agregadas -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  

</head>
   
<style>
  .colorTransparenteFondo{
    background-color: #44454aa6;
}
.separation
{
  
}
.content-section {
    padding-top: 2.5rem;
    padding-bottom: 6.5rem;
}

.tituloPrincipal{
    font-weight: bold;
    text-align: justify;
    font-size: 90px;
    color: #1f2c5f;
    font-family: 'Staatliches', cursive;
    background: #bdc5340d;
    font-style: oblique;
    font-variant-caps: small-caps;
}

.headerStyle
{
  background-color: dimgrey;
background-image: url("img/fondos/fondo1.jpg"); 

background-repeat: no-repeat, repeat;

}


@media (min-width: 576px) 
{
.modal-dialog {
    max-width: 570px;
    margin: 1.75rem auto;
}

}
@media (max-width: 800px)
{
.tituloPrincipal {
  font-size: 45px !important;
}

}
.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
  
    padding-top: 1rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 992px)
{
.masthead {
    height: 100vh;
}

}

</style>


<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">HMM SPA.</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Inicio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">Sobre Nosotros</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolioServicios">Servicios</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Nuestros compromisos</a>
      </li>
     
    </ul>
  </nav>

  <!-- Header masthead-->
  <header class="masthead d-flex  headerStyle"  >
    <div class="container text-center my-auto">

    <div class="row">
      <div class=" col-12 text-center animate__animated animate__bounce" >
        
        <span class="text-break tituloPrincipal" style="color:#1f2c5f;">Servicios Eléctricos y Construcciones Menores</span>
        <br>
        <img src="img/logo/HMM02.png" width="250px" height="210px" alt="imagen del logo ">
      </div>
    </div>

    <div class="row text-center mt-5">
     
      <div class="col-lg-4 col-12 mt-2"> 
        <a class="btn btn-outline-primary " href="tel:+56937267657" ><i class="icon-phone"></i> LLAMAR +569 37267657</a>
      </div>
      <div class="col-lg-4 col-12 mt-2"> 
        <a class="btn btn-outline-success" href="https://api.whatsapp.com/send?phone=+56937267657"> <i class="icon-screen-smartphone"></i> WHATSAPP</a>  
         
      </div>
      <div class="col-lg-4 col-12 mt-2"> 
        <a class="btn btn-outline-info"  href="mailto:arielhm.2011@gmail.com">  <i class="icon-envelope"></i> Escribenos</a>
      </div>   
       
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about">Ver Mas</a>
      </div>
    </div>

    </div>
  </header>



  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>HMM SPA.</h2>
          <img loading="lazy" src="img/logo/iconoHMM.png" alt="logo">
          <br><br>
          <p class="lead mb-5 text-justify">Nuestra empresa está dedicada a la prestación de servicios integrales. Realizamos servicios eléctricos en las áreas comercial e industrial desarrollando así soluciones integrales para las diferentes necesidades de nuestros clientes, cuyo principal enfoque es la calidad, seguridad, eficiencia y satisfacción total de los trabajos realizados y/o proyectados.
            </p>
          
         <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-star"></i>
        </span>
         <br>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolioServicios">Nuestros Servicios</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container-fluid">
      <div class="content-section-heading">
        <span class="text-secondary mb-0" style="font-size:45px;font-weight: bolder;">Nuestros compromisos</span>
        <h3 class="mb-5">Lo que nos caracteriza </h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-bulb"></i>
          </span>
          <h4 > 
            <strong>Innovadores y Eficientes</strong>
          </h4>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4 > 
            <strong>Diseño Selecto</strong>
          </h4>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4 > 
            <strong>Personal Altamente Capacitado</strong>
          </h4>
        
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-home"></i>
          </span>
          <h4 > 
            <strong>Alta Capacidad de Respuesta</strong>
          </h4>
        </div>
      </div>
    </div>
  </section>



  <!-- Portfolio -->
  <section class="content-section" id="portfolioServicios">
    <div class="container-fluid text-center">
      <span class=" text-secondary mb-0" style="font-size: 65px; font-weight: bolder;">Servicios</span>
     <br>
      <div class="content-section-heading text-center">
      </div>
      <div class="row no-gutters">

        <div class="col-lg-4 separation">
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoINDUSTRIAL">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">ILUMINACIÓN INDUSTRIAL</h3>
              </span>
            </span>
            <img loading="lazy" class="img-fluid" src="img/iluIndustrial.jpg"  style=" filter: blur(2px);" alt="ILUMINACIÓN INDUSTRIAL">
          </div>
        </div>

        <div class="col-lg-4 separation ">
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoLED">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">ILUMINACIÓN LED</h3>
              </span>
            </span>
            <img loading="lazy" class="img-fluid" src="img/iluminacionLed.jpg"  style=" filter: blur(2px);" alt="ILUMINACIÓN LED">
          </div>
        </div>

        <div class="col-lg-4 separation">
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoEXTERIOR">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">ILUMINACIÓN EXTERIOR</h3>
              </span>
            </span>
            <img class="img-fluid" src="img/apliques led exterior.jpg"  loading="lazy" style=" filter: blur(2px);" alt="ILUMINACIÓN EXTERIOR">
          </div>
        </div>

        <div class="col-lg-4 separation">
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoINTERIOR">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">ILUMINACIÓN INTERIOR</h3>
              </span>
            </span>
            <img class="img-fluid" src="img/interior.jpeg" loading="lazy" style=" filter: blur(2px);" alt="ILUMINACIÓN INTERIOR">
          </div>
        </div>
        
        <div class="col-lg-4 separation">
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoPanel">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">PANELES SOLARES</h3>
              </span>
            </span>
            <img class="img-fluid" src="img/PANELES.jpeg" loading="lazy" style=" filter: blur(2px);" alt="PANELES SOLARES">
          </div>
        </div>
        <div class="col-lg-4 separation">
          <div class="portfolio-item" >
            <span class="caption"  data-toggle="modal" data-target="#MoMontaje">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">MONTAJE ELÉCTRICO INDUSTRIAL</h3>
              </span>
            </span>
            <img class="img-fluid" loading="lazy" src="img/MONTAJEelECTRICO.jpg" alt="MONTAJE ELÉCTRICO INDUSTRIAL">
          </div>
        </div>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-4 separation" >
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoCIRCUITOS">
              <span class="caption-content colorTransparenteFondo" >
                <h3 class="mb-0 font-weight-bold text-white ">INSTALACIÓN DE CIRCUITOS ELÉCTRICOS</h3>
              </span>
            </span>
            <img class="img-fluid" loading="lazy" src="img/conrumenor.jpg"  style=" filter: blur(2px);" alt="INSTALACIÓN DE CIRCUITOS ELÉCTRICOS">
          </div>
        </div>
        
        <div class="col-lg-4 separation">
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoTablero">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">TABLEROS ELÉCTRICOS Y/O CONTROL</h3>
              </span>
            </span>
            <img class="img-fluid" src="img/Planos.jpg" loading="lazy"  style=" filter: blur(2px);" alt="TABLEROS ELÉCTRICOS Y/O CONTROL">
          </div>
        </div>

        <div class="col-lg-4 separation">
          <div class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoCorrectiva">
              <span class="caption-content colorTransparenteFondo">
                <h3 class="mb-0 font-weight-bold text-white ">MANTENCIÓN CORRECTIVA Y PREVENTIVA</h3>
              </span>
            </span>
            <img class="img-fluid" src="img/Tablero.png" loading="lazy" style=" filter: blur(2px);" alt="MANTENCIÓN CORRECTIVA Y PREVENTIVA">
          </div>
        </div>
        


       <!--

        <div class="col-lg-4 separation">
          <a class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoCorrectiva">
              <span class="caption-content colorTransparenteFondo">
                <h1 class="mb-0 font-weight-bold text-white ">MANTENCIÓN CORRECTIVA Y PREVENTIVA</h1>
              </span>
            </span>
            <img class="img-fluid" src="img/Tablero.png" style=" filter: blur(2px);" alt="">
          </a>
        </div>

        <div class="col-lg-4 separation">
          <a class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoTablero">
              <span class="caption-content colorTransparenteFondo">
                <h1 class="mb-0 font-weight-bold text-white ">TABLEROS ELÉCTRICOS Y/O CONTROL</h1>
              </span>
            </span>
            <img class="img-fluid" src="img/Planos.jpg"  style=" filter: blur(2px);" alt="">
          </a>
        </div>

        <div class="col-lg-4 separation">
          <a class="portfolio-item" >
            <span class="caption" data-toggle="modal" data-target="#MoCorrectiva">
              <span class="caption-content colorTransparenteFondo">
                <h1 class="mb-0 font-weight-bold text-white ">MANTENCIÓN CORRECTIVA Y PREVENTIVA</h1>
              </span>
            </span>
            <img class="img-fluid" src="img/Tablero.png" style=" filter: blur(2px);" alt="">
          </a>
        </div>
      -->
      </div>

    </div>
  </section>



  <footer class="footer text-center bg-primary text-white">
    <div class="container">
      <ul class="list-inline mb-2">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3"  href="tel:+56937267657">
            <i class="icon-phone"></i>
          </a>
        </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://api.whatsapp.com/send?phone=+56937267657" >
              <i class="icon-screen-smartphone"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3"   href="mailto:arielhm.2011@gmail.com">
              <i class="icon-envelope"></i>
            </a>
          </li>
      </ul>
      <br>
      <p class="text-white small mb-0 ">HMM Proyectos Electricos  &copy;  Instalaciones Electricas, Mantenciones Eléctricas, Iluminacion , Tableros Electricos, Construcciones Menores </p>
    </div>
  </footer>




<!-- Modal  PANELES SOLARES-->
<div class="modal fade" id="MoPanel" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoPanelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoPanelLabel">PANELES SOLARES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en la Instalación de Luminarias de cualquier tipo, a base de Energía Solar, lo ideal es instalar Luminarias de tipo LED ya que consumen mucho menos (watts) permitiendo instalar mayor cantidad de luces y abarcar más espacios.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal  ILUMINACIÓN INDUSTRIAL-->
<div class="modal fade" id="MoINDUSTRIAL" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoINDUSTRIALLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoINDUSTRIALLabel">ILUMINACIÓN INDUSTRIAL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en la instalación (montaje), cableado y canalización de Iluminación de tipo Industrial, la cual proporciona mayor Intensidad lumínica necesarias para Iluminar Galpones,
         Plantas de Producción, Anfiteatros, Espacios Públicos, Espacios Deportivos y Recreación, Fachadas, etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal  ILUMINACIÓN LED-->
<div class="modal fade" id="MoLED" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoLEDLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoLEDLabel">ILUMINACIÓN LED</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en la instalación (montaje), cableado y canalización de Iluminación de tipo LED, la cual proporciona mayor Intensidad lumínica (lúmenes y lux) y genera menor consumo (watts), también genera menor Temperatura (ahorro de Aire Acondicionado), la Iluminación LED cubre Todas las áreas necesarias, ya sea Interior, Exterior, Decorativa, Espacios Públicos, Espacios Deportivos y Recreativos, Industrial, Comercial, etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal ILUMINACIÓN EXTERIORO-->
<div class="modal fade" id="MoEXTERIOR" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoEXTERIORLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoEXTERIORLabel">ILUMINACIÓN EXTERIOR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en la instalación (montaje), cableado y canalización de Iluminación de tipo Exterior, la cual sirve para Iluminar Fachadas, Jardines, Piscinas, Patios, Corredores, Pasillos, Espacios Públicos, etc.
        , a través de los diferentes tipos de Luminarias ya sean Haluros Metálicos, Sodio, Mercurio, LED, etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal  ILUMINACIÓN INTERIOR-->
<div class="modal fade" id="MoINTERIOR" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoINTERIORLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoINTERIORLabel">ILUMINACIÓN INTERIOR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en la instalación (montaje), cableado y canalización de Iluminación de tipo Interior, la cual sirve para Iluminar Áreas de Trabajo, Áreas de Servicios,
         Oficinas, Salas de Reunión, Mostradores, Vitrinas, Centros de Cajas, Casinos (comedores), Hall de accesos, Habitaciones, etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>







<!-- Modal  MONTAJE ELÉCTRICO INDUSTRIAL-->
<div class="modal fade" id="MoMontaje" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoMontajeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoMontajeLabel">MONTAJE ELÉCTRICO INDUSTRIAL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ofrecemos una amplia gama de servicios de montajes eléctricos para proyectos tanto de índole industrial como a nivel habitacional, contando con las mejores herramientas.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal  INSTALACIÓN DE CIRCUITOS ELÉCTRICOS-->
<div class="modal fade" id="MoCIRCUITOS" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoCIRCUITOSLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoCIRCUITOSLabel">INSTALACIÓN DE CIRCUITOS ELÉCTRICOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en la Canalización y Cableado de Circuitos en los cuales pasara el Voltaje y Corriente necesarios para energizar Enchufes, Iluminación, 
        Arranques Eléctricos de Aire Acondicionado, Maquinarias, Motores Eléctricos, etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal  TABLEROS ELÉCTRICOS Y/O CONTROL-->
<div class="modal fade" id="MoTablero" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoTableroLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoTableroLabel">TABLEROS ELÉCTRICOS Y/O CONTROL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en el Proceso de Fabricación de un Tablero Eléctrico en Baja y/o Media Tensión según corresponda, y pueden ser Monofásicos o Trifásicos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal  MANTENCIÓN CORRECTIVA Y PREVENTIVA-->
<div class="modal fade" id="MoCorrectiva" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="MoCorrectivaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoCorrectivaLabel">MANTENCIÓN CORRECTIVA Y PREVENTIVA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Consiste en la revisión y/o chequeo, reparación y/o cambio de artefactos o equipos eléctricos (enchufes, luminarias, tableros eléctricos, maquinarias, redes y/o datos, etc.) 
        de Circuitos Eléctricos y de Redes, etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>







  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>

</body>

</html>
